/* Blog page Css */

/* -----Aligning nav bar----- */
nav {
  align-items: center;
  position: relative;
}

/* -----Main styling----- */
main {
  min-height: 75vh;
  border-bottom-style: double;
  border-bottom-width: 10px;
}

#card div{
  margin: 1rem auto;
  border-radius: 10px;
  padding: .5rem 0 .5rem 1.5rem;
}

h2 {
  font-size: 32px;
  border-bottom: 2px solid;
  margin-right: 25px;
}

p {
  font-size: 15px;
}

h3 {
  font-size: 18px;
  opacity: 40%;
}

/* -----Footer styling----- */
footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.links {
  text-align: left;
  margin-left: 25px;
  font-weight: bold;
}

a {
  font-style: italic;
  text-decoration: none;
  font-weight: normal;
}

.email {
  font-style: italic;
  font-weight: normal;
}

/* Setting up heart icon */
.heart {
  font-size: 24px;
  color: red;
}

/* -----Dark mode changes----- */

/* Dark h1 */
.dark-blog-h1 {
  position: absolute;
  align-content: center;
  font-size: 2.4rem;
  margin-left: 25px;
  font-weight: bold;
}

/* Dark back button */
.dark-blog-back {
  font-size: 20px;
  width: 100px;
  border-radius: 6px;
  display: inline;
  position: absolute;
  margin-top: 7px;
  right: 75px;
  background: rgb(29, 28, 28);
  color: white;
}

/* Dark card */
.dark-blog-card div {
  border: 2px solid white;
}

/* Dark a tag */
.dark-blog-a {
  color: white;
}

/* -----Light mode changes----- */

/* Light h1 */
.light-blog-h1 {
  position: absolute;
  align-content: center;
  font-size: 2.4rem;
  margin-left: 25px;
  font-weight: bold;
}

/* Light back button */
.light-blog-back {
  font-size: 20px;
  width: 100px;
  border-radius: 6px;
  display: inline;
  position: absolute;
  margin-top: 7px;
  right: 75px;
}

/* Light card */
.light-blog-card div {
  border: 2px solid black;
}

/* Light a tag */
.light-blog-a {
  color: black;
}