/* Home page CSS */

/* -----Form input----- */
h2 {
  font-size: 3rem;
}

label {
  display: flex;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

input {
  border-radius: 6px;
  width: 100%;
  padding-left: 10px;
  border: 1px solid black;
  height: 4vh;
  &:focus {
    border: 0;
    outline: 2px solid cornflowerblue;
    border-radius: 6px;
  }
}

#content {
  height: 10vh;
  align-content: top;
  width: 100%;
  border-radius: 6px;
  padding-left: 10px;
  border: 1px solid black;
  &:focus {
    border: 0;
    outline: 2px solid cornflowerblue;
    border-radius: 6px;
  }
}

/* -----Dark mode changes----- */

/* Dark image and h1 text */
.dark-form-image {
  display: flex;
  position: relative;
  background-image: url("../images/yellowcircledark.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px 650px;
  margin: 0 auto;
}

.dark-form-h1 {
  display: absolute;
  margin: 0 auto;
  background: transparent;
  font-size: 4rem;
  color: black;
  text-shadow: 2px 2px white;
}

/* Dark middle border */
.dark-form-middle {
  border-left: 4px solid white;
  border-right: 4px solid white;
  margin: 0 auto;
  padding-left: 2px;
  padding-right: 2px;
  width: 13px;
  height: 88.9vh;
}

/* Dark submit button */
.dark-form-submit{
  background-color: white;
  color: black;
  font-size: 1.4rem;
  height: 5vh;
  &:focus {
    border: 0;
    outline: 0;
  }
  &:active {
    font-size: 1.2rem;
    width: 98%;
    height: 4.5vh;
    margin: .25vh 0;
  }
}

/* -----Light mode changes----- */

/* Light image and h1 text */
.light-form-image {
  display: flex;
  position: relative;
  background-image: url("../images/yellowcirclelight.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px 650px;
  margin: 0 auto;
}

.light-form-h1 {
  display: absolute;
  margin: 0 auto;
  background: transparent;
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px black;
}

/* Light middle border */
.light-form-middle {
  border-left: 4px solid black;
  border-right: 4px solid black;
  margin: 0 auto;
  padding-left: 2px;
  padding-right: 2px;
  width: 13px;
  height: 88.9vh;
}

/* Light submit button */
.light-form-submit {
  background-color: black;
  color: white;
  font-size: 1.4rem;
  height: 5vh;
  &:focus {
    border: 0;
    outline: 0;
  }
  &:active {
    font-size: 1.2rem;
    width: 98%;
    height: 4.5vh;
    margin: .25vh 0;
  }
}
